.backdrop {
    background: #e7e5e5;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: .7;
    z-index: 100;
}

.modal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 15%;
    left: 50%;
    margin-left: -250px;
    width: 500px;
    z-index: 150;
    color: #fff;
    border-radius: .1em;
}

.modalBox {
    background: #222831;
    box-shadow: 3px 5px 15px #30475e;
    width: 400px;
    /* min-height: 400px; */
}

.modal h3, .modal p, .els {
    margin: 24px;
}

.modal h3 {
    font-size: 150%;
    margin-top: .25em;
}

.arrow {
    background: #222831;
    color: #fff;
    font-size: 300%;
    font-weight: bold;
    line-height: 300%;
    border-radius: 2px;
    cursor: pointer;
    padding-bottom: 3%;
}

.leftArrow {
    left: 30%;
}

.rightArrow {
    right: 30%;
}

.els {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.els button {
    align-self: flex-end;
}

.els img {
    margin: 0 1em 1em;
    max-width: 200px;
}

.enterFromTop .modal {
    animation: from-top .5s ease-in;
}

.exitToTop .modal {
    animation: to-top .5s ease-out;
}

.left .enterActive .modal {
    animation: from-right .2s ease-out;
}

.left .exitActive .modal {
    animation: to-left .2s ease-out;
}

.right .enterActive .modal {
    animation: from-left .2s ease-out;
}

.right .exitActive .modal {
    animation: to-right .2s ease-out;
}

@keyframes from-top {
    0% {top: -10%}
    75% {top: 20%}
    100% {top: 15%}
}

@keyframes to-top {
    0% {top: 15%}
    25% {top: 20%}
    100% {top: -10%}
}

@keyframes from-right {
    from {left: 90%; opacity: 0}
    to {left: 50%; opacity: 1}
}

@keyframes to-left {
    from {left: 50%; opacity: 1}
    to {left: 20%; opacity: 0}
}

@keyframes from-left {
    from {left: 20%; opacity: 0}
    to {left: 50%; opacity: 1}
}

@keyframes to-right {
    from {left: 50%; opacity: 1}
    to {left: 90%; opacity: 0}
}