.btn {
    border-radius: .25em;
    box-shadow: none;
    border: 0;
    cursor: pointer;
    padding: .5em;
    margin: 0 1em 1em;
}

.primaryBtn {
    background: #035aa6;
    color: #fff;
}

.primaryBtn:hover {
    background: #30475e;
    color: #fff;
}