.waterBowl {
    margin: 1em;
}

.bowlTop {
    width: 200px;
    height: 15px;
    border: 1px solid #222831;
    border-radius: 50%;
    z-index: 20;
    position: relative;
}

.bowlBottom {
    border: 1px solid #222831;
    border-top: 0;
    width: 200px;
    height: 75px;
    position: relative;
    bottom: 10px;
    display: flex;
    flex-direction: column-reverse;
}

.water {
    background: #c3edea;
    width: 100%;
    height: 50%;
    transition: height .2s ease-in;
}